<app-section-wrapper header="Umówione spacery">
  @if (reservations.isLoading()) {
    <div class="loading-container">
      <mat-spinner />
    </div>
  } @else if (reservations.error()) {
    <div class="error-container">
      <mat-icon class="error-icon">error_outline</mat-icon>
      <mat-error>Wystąpił błąd podczas pobierania rezerwacji</mat-error>
    </div>
  } @else if (reservations.hasValue()) {
    <app-reservation-grid>
      @for (reservation of reservations.value(); track reservation.reservationId) {
        <app-reservation-card [reservation]="reservation">
          @if (reservation.status === 'PENDING' && reservation.walkerId === userId()) {
            <div class="buttons">
              <button
                matButton="outlined"
                [disabled]="loading() === reservation.reservationId"
                (click)="cancel(reservation.reservationId)"
              >
                Odrzuć
              </button>
              <button
                matButton="tonal"
                [disabled]="loading() === reservation.reservationId"
                (click)="confirm(reservation.reservationId)"
              >
                Zaakceptuj
              </button>
            </div>
          }

          <div class="buttons-col">
            @if (reservation.status === 'COMPLETED') {
              <button
                matButton="tonal"
                (click)="openReviewDialog(reservation.reservationId, 'DOG')"
              >
                Dodaj opinię o pupilu
              </button>

              <button
                matButton="tonal"
                (click)="openReviewDialog(reservation.reservationId, 'WALK')"
              >
                Dodaj opinię o spacerze
              </button>
            }
          </div>
        </app-reservation-card>
      } @empty {
        <div class="empty-state">
          <mat-icon class="empty-icon">event_busy</mat-icon>
          <h3>Brak rezerwacji</h3>
          <p>Nie masz jeszcze żadnych umówionych spacerów</p>
        </div>
      }
    </app-reservation-grid>
  }
</app-section-wrapper>
