:host {
  position: sticky;
  top: var(--header-height);
  height: calc(100svh - var(--header-height));
  background-color: var(--mat-sys-surface-dim);
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

ul {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--mat-sys-on-surface);
  font-size: 1.15rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  width: 100%;
  display: block;
}

a.active-link {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
