form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.split {
  margin-top: 1rem;
  margin-bottom: calc(1rem + 19.5px);
}

.split-equal {
  margin: 1rem 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.next-button {
  align-self: flex-end;
  width: fit-content;
}

.warning-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--mat-sys-error);

  & > span {
    font-size: 1.25rem;
  }
}

.slots {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
