<header>
  <div class="header-left">
    <app-mobile-menu />

    <h1 class="logo">
      <a routerLink="/" aria-label="PetGo">
        <img src="logo.svg" alt="PetGo" />
      </a>
    </h1>
  </div>

  <div class="profile">
    <a matIconButton aria-label="Czaty" [routerLink]="['/czat']" class="profile-username">
      <mat-icon>chat</mat-icon>
    </a>

    <a
      matIconButton
      [routerLink]="['/powiadomienia']"
      class="profile-username"
      aria-label="Powiadomienia"
    >
      <mat-icon>notifications</mat-icon>
    </a>

    <a
      matIconButton
      [routerLink]="['/uzytkownik/', id()]"
      class="profile-username mobile"
      aria-label="Użytkownik"
    >
      <mat-icon>person</mat-icon>
    </a>

    <a matButton="text" [routerLink]="['/uzytkownik/', id()]" class="profile-username desktop">
      {{ email() }}
    </a>

    <button matIconButton aria-label="wyloguj się" (click)="logout()" matTooltip="Wyloguj się">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</header>
