.reservations {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.dog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > .item {
    background-color: var(--mat-sys-surface-variant);
    padding: 1rem;
    border-radius: 1rem;
  }
}

.image-placeholder {
  background-color: white;
  border-radius: 0.5rem;
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  max-width: 400px;
}

@media (min-width: 768px) {
  .dog {
    flex-direction: row;
  }
}
