<div class="search-box">
  <input type="text" placeholder="Szukaj..." [(ngModel)]="search" />
</div>

@if (offers.isLoading()) {
  <mat-spinner />
} @else if (offers.error()) {
  <span>Wystąpił błąd!</span>
} @else if (offers.hasValue()) {
  <ul class="cards-container">
    <mat-list>
      @for (offer of offers.value(); track offer.offerId) {
        <mat-list-item>
          <div class="row" matListItemTitle>
            <a [routerLink]="['/users/', offer.walkerId]">
              {{ offer.walkerName }}
            </a>

            <span>{{ offer.createdAt | date: 'DD.MM.YYYY' }}</span>
          </div>
          <div matListItemLine lines="3" class="row">
            <div>
              <span>Cena: {{ offer.priceCents }}zł</span>
              <span>{{ offer.description }}</span>
            </div>

            <button
              matButton="filled"
              class="reserve-btn"
              (click)="$event.stopImmediatePropagation(); openReservationDialog(offer)"
            >
              Zarezerwuj
            </button>
          </div>
        </mat-list-item>
      } @empty {
        <mat-list-item class="no-results">Brak wyprowadzaczy</mat-list-item>
      }
    </mat-list>
  </ul>
}
