:host {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  max-height: calc(100svh - var(--header-height) - 2rem);
  height: 100%;
}

mat-spinner,
mat-error {
  grid-column: 1 / -1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  width: 100%;
  list-style-type: none;
  overflow-y: auto;

  li {
    width: 100%;
    background-color: var(--mat-sys-surface-variant);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.height-full {
  height: calc(((100svh - var(--header-height) - 1rem)) - 9.5rem);
}

.height-half {
  height: calc(((100svh - var(--header-height) - 2rem) / 2) - 9.5rem);
}

.row-title {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}

.item-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-price {
  font-weight: bold;
}

mat-form-field {
  max-width: fit-content;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.cards-container {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-radius: 1rem;
}

.card {
  width: 100%;
  background-color: var(--mat-sys-surface-variant);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  place-content: center;
  gap: 3rem;
}

.localization {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile {
  display: flex;
  align-items: stretch;
  align-items: center;
  gap: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 80px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.username {
  color: #777;
  font-size: 14px;
}

.rating .star {
  color: #ccc;
  font-size: 18px;
}

.rating .filled {
  color: #ffbf00;
}

.reserve-btn {
  cursor: pointer;
  width: 100%;
}

mat-list {
  width: 100%;
}

.no-results {
  background-color: var(--mat-sys-surface-variant);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
}

.no-results-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mdc-list-item {
  background-color: var(--mat-sys-surface);
  border-radius: 1rem;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: auto;
  padding: 0.5rem 1rem 0.5rem 0;
}

.additional {
  display: flex;
  gap: 0.5rem;
}

.filters {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .item-price {
    text-align: right;
  }

  .item-date {
    text-align: right;
  }

  .reserve-btn {
    margin-inline: auto;
    max-width: fit-content;
  }
}

@media (min-width: 1280px) {
  .left {
    flex-direction: row;
    gap: 4rem;
  }
}

@media (min-width: 1536px) {
  :host {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  mat-slide-toggle {
    display: none;
  }

  app-walker-offer-map {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    height: auto;
  }

  .height-full {
    height: auto;
  }

  .height-half {
    height: auto;
  }
}
