<h2 mat-dialog-title>Szczegóły oferty</h2>

<mat-dialog-content class="dialog-content">
  <section class="offer-section">
    <h3 class="walker-name">{{ offer.walkerName }}</h3>

    <p class="price"><strong>Wiek:</strong> {{ age() }} l.</p>

    <p class="price"><strong>Cena:</strong> {{ offer.priceCents | fromCents }} zł / h</p>

    <p class="price">
      <strong>Odległość:</strong>
      @if (!userLocation) {
        Brak lokalizacji użytkownika
      } @else if (!nearestSlot()) {
        Brak lokalizacji spacerów
      } @else {
        {{ distanceToWalker() | number: '1.1-1' }} km
      }
    </p>

    <p class="description-label">
      <strong>Opis:</strong>
    </p>
    <p class="description">{{ offer.description }}</p>
  </section>

  <mat-divider></mat-divider>

  <!-- ================= OPINIE ================= -->
  <section class="reviews-section">
    <div class="reviews-title-row">
      <h3>Opinie ({{ reviewsList().length }})</h3>

      @if (reviewsList().length > 0) {
        <div class="rating-badge">
          <mat-icon>star</mat-icon>
          {{ avgRating() | number: '1.1-1' }}
        </div>
      }
    </div>

    <div class="reviews-list">
      @for (review of reviewsList(); track review.createdAt; let last = $last) {
        <div class="review-row">
          <div class="review-header">
            <span class="author">
              {{ review.authorDto.firstName }}
              {{ review.authorDto.lastName }}
            </span>

            <span class="date">
              {{ review.createdAt | luxon: 'dd.LL.yyyy' }}
            </span>

            <div class="star-rating-display">
              @for (i of [1, 2, 3, 4, 5]; track i) {
                <mat-icon class="star-icon-small">
                  {{ getRatingForReview(review.rating, i) }}
                </mat-icon>
              }
            </div>
          </div>

          <p class="text">{{ review.comment }}</p>
        </div>

        @if (!last) {
          <mat-divider></mat-divider>
        }
      } @empty {
        <p class="empty">Brak opinii</p>
      }
    </div>
  </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anuluj</button>

  <button mat-flat-button color="primary" (click)="openReservation()">Umów</button>
</mat-dialog-actions>
