<app-section-wrapper header="Ukończone spacery">
  @if (completedWalks.isLoading()) {
    <mat-progress-spinner />
  } @else if (completedWalks.error()) {
    <span class="error">Błąd</span>
  } @else if (completedWalks.hasValue()) {
    <app-reservation-grid>
      @for (reservation of completedWalks.value(); track reservation.reservationId) {
        <app-reservation-card [reservation]="reservation">
          <button matButton="tonal" (click)="openReviewDialog(reservation.reservationId)">
            Oceń wyprowadzacza
          </button>
        </app-reservation-card>
      } @empty {
        <div empty class="no-walks">Nie masz ukończonych spacerów!</div>
      }
    </app-reservation-grid>
  }
</app-section-wrapper>
