<div class="container">
  <span class="container-title">Skończone spacery</span>

  @if (completedWalks.isLoading()) {
    <mat-progress-spinner />
  } @else if (completedWalks.error()) {
    <span class="error">Błąd</span>
  } @else if (completedWalks.hasValue()) {
    <mat-list>
      @for (reservation of completedWalks.value(); track reservation.reservationId) {
        <mat-list-item>
          <img
            matListItemAvatar
            src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
            [alt]="reservation.dog.name"
          />
          <span matListItemTitle class="list-item-title">{{ reservation.dog.name }}</span>
          <div matListItemLine class="row">
            <span>
              {{ reservation.scheduledStart | date: 'dd.MM.yyyy HH:mm' }} -
              {{ reservation.scheduledEnd | date: 'HH:mm' }}
            </span>

            <span> {{ reservation.walker.username }}</span>
          </div>
        </mat-list-item>
      } @empty {
        <li class="no-walks">Nie masz ukończonych spacerów!</li>
      }
    </mat-list>
  }
</div>
