<button
  class="open-menu-button"
  matIconButton
  aria-label="Otwórz menu"
  popovertarget="sidebar"
  popovertargetaction="show"
>
  <mat-icon>menu</mat-icon>
</button>

<div id="sidebar" popover class="sidebar">
  <button
    matIconButton
    aria-label="Zamknij menu"
    popovertarget="sidebar"
    popovertargetaction="hide"
    class="popover-close-btn"
  >
    <mat-icon>close</mat-icon>
  </button>

  <nav class="nav">
    <ul class="">
      <li class="">
        <a href="/">Strona główna</a>
      </li>
    </ul>
  </nav>
</div>
