.user-list-container {
  padding: 16px;
  background-color: var(--mat-sys-surface-container-low);

  margin: -1rem;
  width: calc(100% + 2rem);
  border-radius: 0;
  min-height: calc(100vh - var(--header-height));
}
@media (min-width: 64rem) {
  .user-list-container {
    max-width: 600px;
    margin: auto;
    border-radius: 1rem;
  }
}
/* Nagłówek */
.list-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.list-header h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #1f1f1f;
}

/* Wyszukiwarka */
.search-section {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

/* Lista Użytkowników */
.results-list {
  display: flex;
  flex-direction: column;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 1rem;
}

.user-item:hover {
  background-color: #f5f5f5;
}

/* Avatar */
.avatar-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  flex-shrink: 0;
  background-color: #e0e0e0;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Teksty */
.user-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.full-name {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}

.username {
  font-size: 14px;
  color: #757575;
}

.arrow-icon {
  color: #9e9e9e;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  color: #757575;
  gap: 16px;
  text-align: center;
}

.empty-state p {
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

.empty-state mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #bdbdbd;
}

mat-spinner {
  margin-inline: auto;
}
