:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > li {
    background-color: var(--mat-sys-surface-variant);
    border-radius: 1rem;

    & > a {
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: initial;
      text-decoration: none;

      & > img {
        width: 50px;
        height: 50px;
        border-radius: 12px;
        overflow: hidden;
        background: #e3f2fd;
        flex-shrink: 0;
      }
    }
  }
}
