.card {
  max-width: 300px;
}

.container {
  background-color: var(--mat-sys-surface-variant);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  max-width: calc(100vw - 2rem);
}

.dog-details-line {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.container-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.dogs {
  display: flex;
  overflow-x: auto;
  width: 100%;
  gap: 1rem;
  padding-bottom: 1rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.no-dog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-inline: auto;
}

.no-dog-message {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.no-search-icon {
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
}

.btn {
  width: fit-content;
}

.error {
  text-align: center;
  color: var(--mat-sys-error);
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .card {
    max-width: 400px;
  }

  .container {
    max-width: calc(100vw - 2rem - 288px);
  }
}
