<app-section-wrapper header="Pupile">
  @if (dogs.isLoading()) {
    <mat-progress-spinner />
  } @else if (dogs.error()) {
    <span class="error">Błąd</span>
  } @else if (dogs.hasValue()) {
    <app-dogs-grid [dogs]="dogs.value()">
      <div class="no-dog">
        <mat-icon class="no-search-icon">search_off</mat-icon>
        <span class="no-dog-message">Wygląda na to, że nie masz żadnego dodanego pupila!</span>
        <button class="btn" matButton="tonal" (click)="openAddDogDialog()">Dodaj pupila</button>
      </div>
    </app-dogs-grid>
  }
</app-section-wrapper>
