.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.slots {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  font-weight: bold;
  font-size: 1.15rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

.updating {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  pointer-events: none;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
