.review-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 350px;
  padding-top: 10px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
  }

  .rating-value {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #666;
  }
}

.stars {
  display: flex;
  justify-content: center;

  button {
    mat-icon {
      font-size: 32px;
      width: 32px;
      height: 32px;
    }
  }

  /* .mat-icon { */
  /*   color: #ffc107; */
  /* } */
}

.full-width {
  width: 100%;
}
