.dogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 1rem;
  padding-bottom: 1rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.dog-details-line {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
