:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  background-color: var(--mat-sys-surface-variant);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.container-title {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.no-dog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.no-dog-message {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.no-search-icon {
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
}

.btn {
  width: fit-content;
}

.error {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.walk-list {
  list-style-type: none;

  & > li {
    background-color: var(--mat-sys-surface);
    border-radius: 1rem;
    padding: 1rem;
  }
}

.no-walks {
  text-align: center;
  font-weight: 600;
}
