:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.no-dog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.no-dog-message {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.no-search-icon {
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
}

.btn {
  width: fit-content;
}

.error {
  text-align: center;
  color: var(--mat-sys-error);
  font-size: 1.25rem;
  font-weight: 500;
}

.list-item {
  background-color: var(--mat-sys-surface);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.field {
  display: flex;
  flex-direction: column;
}
