nav {
  & > ul {
    list-style-type: none;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.profile-username {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 52px;

  padding: 0.5rem 0;
}

.logo {
  & > a {
  }
}

img {
  max-width: 256px;
  width: 100%;
}

@media (min-width: 1024px) {
  .profile-username {
    display: flex;
  }
}
