ul {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--mat-sys-on-surface);
  font-size: 2rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  width: 100%;
  display: block;
}

a.active-link {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

@media (min-width: 560px) {
  a {
    font-size: 1.15rem;
  }
}
