:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--mat-sys-on-surface);
  font-size: 1.75rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

a.active-link {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

li:first-child {
  margin-bottom: 1rem;
}

@media (min-width: 35rem) {
  a {
    font-size: 1.15rem;
  }
}
