:host {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.welcome {
  & > h2 {
    font-size: 2rem;
  }

  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.register-text {
  & > a {
    font-weight: bold;
    color: black;
  }
}
