<div class="notifications-page">
  <h1 class="page-title">Twoje powiadomienia</h1>

  <button
    mat-raised-button
    color="warn"
    class="clear-button"
    (click)="clearAll()"
    [disabled]="notifications.length === 0"
  >
    Usuń wszystkie
  </button>
  <div class="notifications-container">
    <mat-card *ngFor="let n of notifications()" class="notification-card" (click)="toggleExpand(n)">
      <mat-card-title>
        {{ n.title }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="n.user !== undefined"> Użytkownik: {{ n.user }} </mat-card-subtitle>

      <mat-card-content *ngIf="n.expanded">
        <p>{{ n.content }}</p>
        <button
          mat-stroked-button
          color="warn"
          class="delete-button"
          (click)="deleteNotification(n.id); $event.stopPropagation()"
        >
          Usuń
        </button>
      </mat-card-content>
    </mat-card>
    <p *ngIf="notifications.length === 0" class="no-notifications">Brak powiadomień</p>
  </div>
</div>
