<div class="search-box">
  <input 
    type="text" 
    placeholder="Szukaj miejscowości..." 
    [(ngModel)]="search"
  />
</div>

<div class="cards-container">
    @if (filteredDogWalkers().length === 0) {
      <p class="no-results">Brak wyprowadzaczy</p>
    } @else {
        @for (dogWalker of filteredDogWalkers(); track dogWalker) {
          <div class="card">
            <div class="columns">
              <div class="left">
                <div class="profile">
                  <img src="/assets/user-avatar.png" alt="avatar" class="avatar" />

                  <div class="profile-info">
                    <h3>{{ dogWalker.name }}</h3>
                    <span class="username">{{ '@' + dogWalker.username }}</span>

                    <div class="rating">
                      @for (star of [1, 2, 3, 4, 5]; track star) {
                        <span class="star" [class.filled]="star <= dogWalker.rating">★</span>
                      }
                      <span class="reviews">({{ dogWalker.reviews }})</span>
                    </div>
                  </div>
                </div>

                <div class="details">
                  <p>📍 Odległość: {{ dogWalker.distance }} km</p>
                  <p>💲 Stawka: {{ dogWalker.rate }} zł/h</p>
                  <p>🎂 Wiek: {{ dogWalker.age }} lat</p>
                </div>
              </div>

              <div class="right">
                <h4>Lokalizacja</h4>
                <p>Miejscowość: {{ dogWalker.city }}</p>
                <p>Ulica: {{ dogWalker.street }}</p>
                <p>Kod pocztowy: {{ dogWalker.postal }}</p>
              </div>
            </div>

            <button class="reserve-btn" (click)="reserve(dogWalker.name)">Zarezerwuj</button>
          </div>
        }
    }
</div>
